.container {
    width: 1340px;
    margin:0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-header {
    background-image: linear-gradient(to right,white,white, blue,purple);
    z-index: 10;
    top: 0;
    position: fixed;
    background-color: purple;
    width: 1340px;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.main-header__brand img{
    width: 70px;
    
}
.main-navigation {
    display: inline-block;
    vertical-align: middle;
}
.main-navigation__item {
    display:inline-block;
    padding: 0.625rem;  
}
.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}


.main-navigation__item a {
    text-decoration: none;
    color: #05364d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size:0.75rem; 
}

.main-navigation__item a:hover{
    color:#efbde8;
}

.main-navigation-first__item a{
   color:#efbde8;
}
.main-div-section {
    float: left;
    width: 50%;
    text-transform: uppercase;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Footer section */
.footer-logo__item {
    display: block;
    margin-top: 100px;
    text-align: center;
}
.footer-logo__item img{
    width:150px;
}
.footer-navigation {
    text-align: center;
    margin-top: 0.625rem;
}
.footer-navigation__item {
    color: #05364d;
}
.footer-icon__bar{
    text-align: center;
}
.footer-icon__bar a {
    display: inline-block;
    font-size: 2.1875rem;
    color: rgb(35, 35, 255);
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(5, 0.2, 0.4, 0.4);
    margin-left: 3.125rem;
    margin-bottom: 1.25rem;
    border: 1px solid #ccc;
}
.footer-icon__bar a:hover {
    color: white;
    background-color:purple;
}
/* /Footer section */

/* Form section */
.contact-section {
    margin-top: 9.375rem;
}
input ,textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    color: rgb(38, 36, 36);
}
input {
    margin-top:1.25rem;
    padding: 0.625rem 1.25rem;
    box-sizing: border-box;
}
textarea {
    padding: 0.625rem 1.25rem;
    box-sizing: border-box;
}

.mini-box-1 {
    width: 50%;
    padding-right: 0.9375rem;
    box-sizing: border-box; 
    float: left;
    } 
.mini-box-2 {
    width: 50%;
    padding-left: 0.9375rem;
    box-sizing: border-box; 
    float: left;
    } 
textarea:focus,input:focus {
    outline: 0;
} 
.submit-button {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 2.5rem;
    width:120px;
    border-radius: 5px;
    border:none;
    background-image: linear-gradient(to right, rgb(21, 21, 187),rgb(181, 46, 181));
    color: white;
    cursor: pointer;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
}
.submit-button:hover {
     background-image: linear-gradient(to right,  rgb(181, 46, 181), rgb(21, 21, 187));
}
/* /Form section */