.container {
    width: 1340px;
    margin:0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-header {
    z-index: 10;
    top: 0;
    position: fixed;
    background-color: white;
    width: 1340px;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.main-header__brand img{
    width: 70px;
}
.main-navigation {
    display: inline-block;
    vertical-align: middle;
}
.main-navigation__item {
    display:inline-block;
    padding: 0.625rem;
}
.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}


.main-navigation__item a {
    text-decoration: none;
    color: #05364d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size:0.75rem;
}

.main-navigation__item a:hover{
    color:#efbde8;
}

.main-navigation-first__item a{
   color:#efbde8;
}
.main-div-section {
    float: left;
    width: 50%;
    text-transform: uppercase;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hey__item {
    color: #4c2552;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.who__item {
    margin-top:0.625rem;
    margin-bottom: 0.625rem;
    font-size:3.75rem;
    font-weight: 500;
}
.work__item {
    margin-top: 0.625rem;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.icon__items a{
    display: inline-block;
   text-decoration: none;
   padding: 0.625rem;
   font-size: 1.25rem;
   font-weight: 400;
   margin:1.875rem 0;
   color: rgb(3,169,244);
}
.button__item:hover {
    background-image: linear-gradient(to right, rgb(181, 46, 181), rgb(21, 21, 187));
}
.button__item {
    text-transform: uppercase;
    font-size:0.875rem;
    line-height: 3.125rem;
    width:200px;
    border-radius: 5px;
    border:none;
    background-image: linear-gradient(to right, rgb(21, 21, 187),rgb(181, 46, 181));
    color: white;
    cursor: pointer;
}
.main-picture__item {
    /* box-sizing: border-box;
    padding-right: 50px; */
    width: 50%;
    float: left;
    height: 633px;
    width: 349px;
    margin-top: 6.25rem;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.div-both {
    clear: both;
}
.rating__items {
    margin-top: 12.5rem;
}
.rating__items p{
  display: inline-block;
  margin-right: 1.25rem;
  border: none;
  background-color: #f3f3f3;
  text-align: center;
  color: #00bcd4;
  font-size: 1.875rem;
  padding: 1.25rem;
  text-transform: none;
  font-weight: 600;
}

span {
    font-size: 0.9375rem;
    font-weight: normal;
}

.main-picture__item  {
    text-align: left;
}

/* About me section  */
.about-me__item {
    box-sizing: border-box;
    width: 50%;
    padding-left: 0.625rem;
    float: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-me {
    font-weight: 500;
    color: rgb(136,136,136);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about-me__item h3 {
    margin-top: 0.625rem;
    font-weight: 700;
    font-size: 2.625rem;
    margin-bottom: 0.9375rem;
}
.about-me-text {
     color: rgb(136,136,136);
     letter-spacing: 2px;
     padding-bottom: 1.25rem;
     padding-top: 1.25rem;
}
.about-button__item:hover {
    background-image: linear-gradient(to right, rgb(181, 46, 181), rgb(21, 21, 187));
}
.about-button__item {
     background-image: linear-gradient(to right, rgb(21, 21, 187),rgb(181, 46, 181));
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border:none;
    background-color: blue;
    border-radius: 5px;
    height: 50px;
    width: 180px;
    vertical-align: top;
}
.about-picture__item {
    float: left;
    width: 50%;
}
.about-picture__item img {
    width: 500px;
}
.main-picture__item {
    box-sizing: border-box;
    margin-left: 0;
    float: left;
     width: 50%;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("https://media.istockphoto.com/id/1779362963/vector/smooth-blue-abstract-curving-lines-modern-background.jpg?s=612x612&w=0&k=20&c=PqBlpzsxM-pwTMRelCJ7aMq4cOENleVjXVAbq3ZQjZc=");
}
.main-div-section {
    padding-left: 100px;
    margin-right: 0;
    width: 50%;
    float: left;
    box-sizing: border-box;
}
/* /About me section */

/* My services section */
.services {
    margin-top:150px;
    
}
.service-p {
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(136,136,136);
}
.service-h3 {
    font-size: 2.625rem;
    font-weight: 700;
    margin-top: 0.625rem;
}
.first-card {
    text-align: center;
    background-color: #f8faff;
    width: 30%;
    padding-top: 5rem;
    padding-bottom: 0.625rem;
    float: left;
    margin-right:1.875rem;
    height: 350px;
}
 .this-card {
    color: rgb(136,136,136);
 }
.card-p2 {
    text-transform: uppercase;
    text-decoration: underline;
    padding-top:2.5rem;
}
.first-card:hover{
    color: white;
    background-color: blueviolet;
}
/* /My services section */

/* Clients section */
.client-image {
    float: left;
    width: 50%;
    text-align: center;
}
.clients {
    margin-top:150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.client-paragraph {
    font-weight: 500;
    color: rgb(136,136,136);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.clients-h3 {
    font-size: 2.625rem;
    font-weight: 700;
    margin-top:0.625rem;
}
.client-paragraph-text {
    color: rgb(136,136,136);
}
.client-text {
    float: left;
    width:50%;
}
.fa-solid {
    color:#ffd804;
}
.gray {
    color: #aeb9be;
}
/* /Clients section */

/* Portfolio section */
.portfolio {
    margin-top:6.25rem;
}
.image__items li{
    padding-left: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.image-ul__items {
    list-style: none;
}
.image-ul__items li {
    display: inline-block;
    margin-right: 3.125rem;
    padding-left:0;
}
.image__item {
    padding-left: 0;
    cursor: pointer;
    text-transform: uppercase;
}
.image__item:hover {
    color: blue;
}
/* Images */
.portfolio__items {
    position: relative;
}
.portfolio__item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50%;
    padding: 0.625rem;
    box-sizing: border-box;
}
.portfolio-item__overlay {
 position:absolute;
 left: 0;
 top: 0;
 height: 100%;
 width: 100%;
 background:rgba(19,69, 230, 0.9);
 visibility: hidden;
}
.portfolio-item__image {
    width: 100%;
}

.portfolio-2__item {
    position: absolute;
    right: 0;
    top: 0;
}
.portfolio-3__item {
    position: absolute;
    right: 0;
    top: 370px;
    padding-bottom: 0.625rem;
}
.portfolio-item__info {
    position: absolute;
    bottom:44px;
    left: 80px;
    color: white;
    visibility: hidden;
}
.portfolio-item__info a {
    color: white;
    text-decoration: none;
}
.portfolio__item:hover .portfolio-item__overlay {
    z-index: 1;
    visibility: visible;
    top: 20px;
    left: 20px;
}
.portfolio__item:hover .portfolio-item__info {
    z-index: 1;
    visibility: visible;
    bottom: 24px;
    left: 60px;
}
/* /Images */
/* /portfolio section */

/* Blog section  */
#blog {
    margin-top: 12.5rem;
}
.blog-div__items div {
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}


.blog-div__item div {
    width: 100%;
    display: block;
    background-color: #f8faff; 
}
.blog-div__item img {
    width: 100%;
}

.blog-div__item .link-tag {
    text-decoration: none;
    color:#05364d;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.learn__item {
    text-decoration: none;
     color:#05364d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
.learn__item:hover {
    color:rgb(179, 61, 81);
}
/* /Blog section */

/* Footer section */
.footer-logo__item {
    display: block;
    margin-top: 6.25rem;
    text-align: center;
}
.footer-logo__item img{
    width:150px;
}
.footer-navigation {
    text-align: center;
}
.footer-navigation__item {
    color: #05364d;
}
.footer-icon__bar{
    text-align: center;
}
.footer-icon__bar a {
    display: inline-block;
    font-size: 2.1875rem;
    color: rgb(35, 35, 255);
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(5, 0.2, 0.4, 0.4);
    margin-left: 3.125rem;
    margin-bottom: 1.25rem;
    border: 1px solid #ccc;
}
.footer-icon__bar a:hover {
    color: white;
    background-color:purple;
}
/* /Footer section */


/* span container */
.span__item {
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    border:2px solid rgb(253, 10, 253);
    filter: blur(4px);
}
/* /span container */